@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0, 0.8);
}

body {
    background: white;
}

.container {
    background: #faf2ea;
    padding: 3% 5%;
    max-width: 800px;
    margin: 1rem auto;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 30%);
}
ul {
    list-style: none;
}
.topnav {
    display: flex;
    justify-content: space-between;
}
.topnav .profile-pic {
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic img {
    width: 100%;
    height: auto;
}
.bio h1 {
    font-size: 40px;
    font-weight: 600;
}
.bio h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #367389;
}
.bio ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.bio ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.bio ul .email,
.bio ul .mobile,
.bio ul .location {
    grid-column: 1/ -1;
}
.bio ul li i {
    font-size: 30px;
    margin-right: 10px;
}
.icon-div {
    width: 30px;
    height: 30px;
    /* display: inline-block; */
    margin-right: 10px;
}

.card-body {
    margin: 15px 0px;
}
.card-body .objective-text {
    text-align: justify;
}
.card-body .card-top {
    font-size: 20px;
    color: #367389;
    text-transform: uppercase;
    width: 50%;
    border-bottom: 2px solid #367389;
    margin-bottom: 15px;
}
.blue-back {
    padding: 15px 25px;
    background: #dbe1e1;
}
.inst-name,
.project-name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #356a7c;
}
.exam-name {
    font-size: 16px;
    font-weight: 500;
}
.duration-time,
.relavent-course {
    font-size: 16px;
}
.edu-lists {
    margin-bottom: 15px;
}
.education-desc {
    list-style: inside;
    font-size: 16px;
    margin: 5px 0px;
}
.pad15 {
    padding: 0px 20px;
}
.language-list {
    /* display: inline-flex;
    list-style: inside; */
}
.language-list li {
    display: inline-grid;
    margin-right: 12px;
    font-weight: 500;
    color: #1e566a;
}
.language-heading {
    font-weight: 500;
    text-decoration: underline;
}
/* progress {
    color: black;
} */
#progress {
    margin: 4px 0px;
    width: 10rem;
    height: 8px;
    border-radius: 20px;
    background: #faf2ea;
}
/* #progress:after {
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
} */
.p0:after {
    width: var(--p0);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p10:after {
    width: var(--p10);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p20:after {
    width: var(--p20);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p30:after {
    width: var(--p30);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p40:after {
    width: var(--p40);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p50:after {
    width: var(--p50);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p60:after {
    width: var(--p60);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p70:after {
    width: var(--p70);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p80:after {
    width: var(--p80);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p90:after {
    width: var(--p90);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
.p100:after {
    width: var(--p100);
    height: 100%;
    background: rgb(68 68 68);
    content: "";
    border-radius: 20px;
    display: block;
}
* {
    --p0: 0%;
    --p10: 10%;
    --p20: 20%;
    --p30: 30%;
    --p40: 40%;
    --p50: 50%;
    --p60: 60%;
    --p70: 70%;
    --p80: 80%;
    --p90: 90%;
    --p100: 100%;
}
.cp {
    list-style: inside;
}

@media only screen and (max-width: 650px) {
    .topnav {
        display: initial;
    }
    .topnav .profile-pic {
        margin: auto;
    }
    .bio h1 {
        font-size: 30px;
        text-align: center;
    }
    .bio h2 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 22px;
    }
    .bio ul {
        grid-template-columns: 1fr;
    }
    .bio-lists {
        border-top: 2px solid #dbe1e1;
        padding-top: 15px;
    }
    .bio-lists li {
        margin-bottom: 10px;
    }
    .card-body .card-top {
        width: 100%;
    }
    .education-desc {
        font-size: 14px;
    }
    .pad15 {
        padding: 0px;
    }
}
